* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #20d164, #c0d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 450px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1.5rem;
    position: relative;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #757575;
    padding: 0.7rem 0;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #20d164;
}

.btn {
    font-size: 1.1rem;
    padding: 0.75rem 0;
    border-radius: 5px;
    border: none;
    width: 100%;
    background: #20d164;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #18b054;
}

.or {
    font-size: 1.1rem;
    text-align: center;
    margin: 1.5rem 0;
    color: #757575;
}

.icons {
    text-align: center;
    margin-bottom: 1.5rem;
}

.icons i {
    margin: 0 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #757575;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #20d164;
}

.link {
    text-align: center;
    margin-top: 1rem;
}

.link button {
    background: none;
    color: #20d164;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.link button:hover {
    color: #18b054;
}
